<style>

.name, h1, h2 {
    color: white;
    font-family: 'Indie Flower', cursive;
  }

  .text {
  	color: white;
  	font-family: 'PT Sans', sans-serif;
  	font-size: 16px;
  }

  body {
  	background-image: url('bg.JPG');
  	background-position: relative;
  	background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #paragraphs{
  	background-color: rgba(0,0,0,0.75);
  color: white;
  z-index: -1;
  padding: 30px;
  width: 350px;
}
 a {
 	color:white;
 	font-size: 18px;
 }
 a:hover {
 	color: #58ACFA;
 }
    img {
    	position: center;
  	margin: 0px;
  	z-index: 1;
  }
</style>